/* primary css */

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--deathly-dark);
	color: var(--sickly-light);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code, pre, samp {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* font properties */

h1, h2, h3 {
	font-family: 'Goudy Bookletter 1911';
	text-shadow: 0 0 3px var(--deathly-dark)
}

/* splash css */

button,
.button,
input[type='color' i] {
	font: inherit;
	cursor: pointer;
	user-select: none;
	color: var(--deathly-dark);
	padding: 0.25em 1em;
	border-style: solid;
	border-radius: 0.5em;
	border-width: 0.125em;
	border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
	background-color: whitesmoke;
	text-decoration: none;
}
